services:
  documentation:
    image: squidfunk/mkdocs-material:latest
      # Официальный Docker-образ mkdocs-material.
      # Он содержит mkdocs + тему Material.

    container_name: mkdocs
      # Имя контейнера, чтобы обращаться к нему удобно.

    hostname: mkdocs
      # Имя внутри контейнера (внутренний hostname).

    command: serve --dev-addr=0.0.0.0:8010 --watch-theme
      # Команда, которая запускается внутри контейнера.
      # serve — запуск dev-сервера MkDocs.
      # --dev-addr=0.0.0.0:8010 — слушать на всех интерфейсах, порт 8010.
      # --watch-theme — автоматически перезагружать при изменениях темы.

    restart: unless-stopped
      # Автоматически перезапускать контейнер, кроме случая, если его остановили вручную.

    ports:
      - "8010:8010"
      # Проброс порта: локальный порт 8010 → внутренний порт 8010.
      # После запуска документация будет доступна на http://localhost:8010

    volumes:
      - ./documentation:/docs
      # Монтируем локальную директорию ./documentation внутрь контейнера в /docs.
      # :ro — read-only (только чтение).
      # MkDocs поднимает сайт из каталога /docs.